/* ---------------- Normalize  ---------------- */
.progress,sub,sup{vertical-align:baseline}.block,.elem-left,.elem-right,article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,sub,sup{position:relative}body,figure{margin:0}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box; font-size: 100%;}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0 0 .67em}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:60%;line-height:0}sub{bottom:-.25em}sup{top:-.45em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;border:0}button,input,select,textarea{font:inherit;line-height:initial;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;border:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}

/* ---------------- Animations  ---------------- */

.animated{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}

/* ---------------- Global Styles  ---------------- */
*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;} 
.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}
address {font-style: normal!important} img {max-width:100%; display: block; margin: 0 auto}.icon-gplus:before {margin-left: -1px!important}
@media (min-width:1001px) {a[name]:before {height: 80px; margin-top: -80px; display: block; content: ""; visibility: hidden;}}
.container, main, main #page {position: relative; width: 100%; margin: 0 auto; }
.container {max-width: 1220px}
*, *::before, *::after {-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
img {max-width: 100%;}
.elem-left, .elem-right { margin-top: 8px; margin-bottom: 2px; }
.elem-left { float: left; margin-right: 15px; }
.elem-right { float: right; margin-left: 15px; }
.flex-ed, .col-flex-ed { display: -webkit-box; display: -ms-flexbox; display: flex; }
.flex-ed {  -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; -ms-flex-flow: row wrap; }
.col-flex-ed { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; -ms-flex-flow: column;}

$primary: #008ABC;
$secondary:#F7F7F7;
$tertiary:#036487;
$font: 'Figtree', sans-serif;
$font2: 'Geologica', sans-serif;
$text: #000; 

[data-player],[data-vimeo],[data-embed]{position:relative}
.close,[data-vimeo] .close{background-color:$secondary;color:#fff;padding:8px;text-transform:uppercase; font-size: 13px;}
[data-embed] .close:hover,[data-vimeo] .close:hover{background-color:$tertiary;color:#fff}
[data-embed] .play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
[data-embed] .close{position:absolute;top:0;right:0}
[data-embed] .close i:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.youtube{position:relative;cursor:pointer;width:100%;font-size:0;
    &:hover:after {border-color: #fff;}
} 
.youtube[class*="elem-"]{width:440px}
.youtube:before,.youtube:after{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.youtube:after{padding: 7px 11px 9px 17px;
    border: 3px solid yellow;
    border-radius: 30px;font-size:32px;color:#fff;font-family:"fontello";font-weight:400;margin:0;font-style:normal;content:"\e938";}
.youtube.active:before,.youtube.active:after{display:none}


/* ---------------- FIXED TABS  ---------------- */

@media (min-width: 1031px) {
    #fixed-tabs{display:none}
}
@media (max-width: 1030px) {
    #fixed-tabs{position:fixed;right:0;text-align:center;line-height:1;font-size:0;z-index:10000; bottom:0;width:100%;box-shadow:0 0 15px rgba(0,0,0,0.3); display:flex;
       a{padding:13px 0;flex:1; font-size:13px;font-weight:700;font-family: $font;background-color: $tertiary;color:#fff;text-transform:uppercase; 
          span{display:inline-block;vertical-align:middle;
            &:last-child{margin-left:7px} 
           } 
           &:nth-of-type(2){background-color:darken($primary, 20%); }
        }
        .ra {flex: 2;}
       i{font-size:16px; margin-right: 5px;}
       i, i:before{display:inline-block;margin:0 auto}
    }
    footer{margin-bottom:42px!important}
}
@media (max-width: 600px) {
    #fixed-tabs { 
        strong{display:none}
        a span:last-child{margin-left:0}
    }
}

/* ---------------- page foundation ---------- */

body { overflow-x:hidden;position: relative; background-color: #fff; font-family: $font; font-size: 17px; font-weight: 400; line-height: 1.2; text-align: center;}
p {font: 400 20px/25px $font;  color: $text;}
a { display: inline-block; text-decoration: none; cursor: pointer; color: $tertiary; }
h1, h2, h3, .h3 {font-family: $font2; font-weight: 700; line-height: 1.2; text-align: center;}
h1 {  margin: 0;  color: #D8EDF4; font-size: 88px; text-align:left;font-weight: 700;letter-spacing: -0.92px;}
h2 {  color: #FFF; font-size: 45px;font-weight: 400; margin: 10px auto;}
h3, .h3 {color: #8C8C8C; font-size: 20px; line-height: 1.41; 
    span {color: $primary;}
}
h4 { font-size: 28px; line-height: 1.41; }

/* header */
header{position:absolute;width: 100%;padding:20px 10px;z-index:100;background: transparent;filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .16));
    #nav {display:flex;max-width: 1400px;justify-content:space-between;margin:auto;align-items:center;padding:2px;position:relative;
        a {
            i {font-size: 20px; color: #fff;
            	&:before {padding: 7px; width: 35px; height: 35px; background-color: $primary; border-radius: 50%; display: flex !important; justify-content: center; align-items: center;}
            }
            &.btn {padding: 5px 20px; border-radius: 40px; color: #fff;font-size: 24px;font-family: $font;margin: 0;
                &:hover {background-color: $tertiary;color: #fff;}
                i { color: $primary;
                    &:before {background-color: #fff;}
                }
            }
        }
        hr {margin: 0;height: 25px;width: 1px;background-color: $primary;}
        .logo{margin:0;}
        address{text-align:center;}
        .phone{color: #fff; font-size: 32px;font-weight: 700;
            &:hover{color:$primary;}
        }
        .phy{font-size:13px;color:#fff;line-height:1.26;font-weight:400;letter-spacing:.47px;text-transform:uppercase;
            &:hover{color:$primary;}
        }
        > * { display: flex; align-items: center; gap: 10px; }
        #mobile-btns {gap: 0;
			width: 100%;display:flex;
			> * {flex: 1;}
			.btn {
				display: flex;flex-wrap: wrap;padding: 10px;justify-content: center;border-radius: 0;font-size: 16px;min-width: auto;background: #EAEEF2;text-transform: uppercase;
				span {width: 100%;font-size: 28px; }
			}
			.phone, .btn {display: flex;flex-wrap: wrap;justify-content: center;align-content: center; height: 70px;color: #000;
				span {width: 100%;color: #000;text-align:center;}
			  }
			.phone {background-color: $primary;font-size: 22px;line-height: 1.3;color: #fff;
				span {text-transform: uppercase;font-size: 18px;font-weight: 700;letter-spacing: 1px;color: #fff;}
			}
		}
    }
}
.fix-nav header{position:fixed;width:100%;left:0;top:0;right:0;animation-duration:.8s;animation-fill-mode:both;animation-name:slideIn;z-index:100000;box-shadow:0 3px 7px rgba(0,0,0,0.35);background-color: $primary;
    #nav {
        .logo {max-height: 120px; margin-bottom: 0; 
            img {max-height: 120px; margin-bottom: 0;}
        }
        hr {background-color: #fff;;}
    }
}

/*  --------------  Buttons ----------------- */
.btn,
.btn-alt {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-style: normal!important;
    margin: 10px auto;
    color: white;
    text-align: center;
    min-width: 200px; 
    border-radius: 3px;
    background-color: $primary;
    font: 600 14px/1.1 $font; text-transform: uppercase;
    transition: all ease 0.3s;
    padding: 12px 20px;
    span {display: block; font-size: 38px; line-height: 1;}
    &:hover { background-color: $tertiary;}
}

/* -------------- Body ----------------- */
#line {width: 100%;}
.play {text-shadow: 0 1px 4px rgba(24, 23, 24, 0.75); color: #fff; font-size: 18px; font-weight: 700;  font-family: $font2; text-align: center; text-transform: uppercase; cursor: pointer; 
    i {width: 59px; height: 59px; background:transparent; border: 5px solid #FFD960;color: #fff;font-size: 30px; display: block; border-radius: 50%; line-height: 50px; display: flex; justify-content: center; align-items: center; box-shadow: 0 3px 7px rgba(102, 120, 45, 0.35); margin: 10px auto;
        &:before {content: '\e938';font-size: 28px;margin-right: 0;}
    }
    &:hover i {border-color: #fff;}
}

#banner { overflow: hidden; background-color: #E5E5E5;padding: 0;position: relative;
    .flex-ed {flex-wrap: nowrap; margin: auto; position: relative; align-items: center; justify-content: space-around;}
    figure {  margin: 0;width: 100%;
        position: relative;
        text-align: center;
        img {
          width: 100%;
          position: relative;
          width: 100%;
        }
        p { font-size: 26px; text-align: left; line-height: 1.2;}
        p:nth-of-type(2) {margin-right: 50px;text-align: right; font-size: 18px;text-transform:uppercase;font-family: $font;font-weight: 700;}
    }
    article {position: absolute; max-width: 100%; z-index: 10; margin-top: 20px; padding: 10px;left: 10%;
        > img {margin: 20px auto;}
        h1 {margin: 20px auto 0; line-height: 88px;font-weight: 700;line-height: 1.2;font-size: 90px;
            span {text-transform: uppercase;}
        }
        h2 {font-size: 66px;font-weight: 700;text-align: left;}
        ul {margin-top: 25px;
            li {font-size: 36px; text-align:left; color: #fff;position: relative;list-style-type: none;margin: 12px 10px;
                &:before {content: '\e832';position: absolute;font-size: 34px;font-family: fontello;left: -50px;color: $primary;}
            }
        }
    }
}

#we {position: relative;background-color: $secondary;padding: 5px;
    .contain {max-width: 1140px; margin: 10px auto;text-align: center;}
    p {font-size: 25px;color: #fff; line-height: 30px;}
    h2 {color: #8C8C8C;font-size: 29px;z-index: 1100;text-transform: uppercase;letter-spacing: 12px; position: relative;font-weight: 700;
        span {color: $primary;}
    }
    br {display:none;}
}

#flex-blocks {padding: 50px 10px; background-color: #fff; position: relative;
    &:before {opacity: 1;content: ''; z-index: 1;background-size: cover;position: absolute; left: -35%;top: 31%;height: 900px;width: 920px;background-image: url(assets/images/lp-dental-solutions-blocks-before-bkg.png) }
    &:after {opacity: 1;content: '';z-index: 1; background-size: cover;position: absolute;right: -45%;
        bottom: -9%;
        height: 1100px;
        width: 1100px;background-image: url(assets/images/lp-dental-solutions-blocks-after-bkg.png) }
    .flex-ed {max-width: 1400px; margin: 50px auto; justify-content: space-around; padding: 30px 10px; flex-wrap: nowrap; }
    figure {padding: 10px; flex: 0 1 560px; position: relative;
        .smile-before {position: absolute; right: 0; bottom: 0;}
    }
    article {flex: 0 1 715px; position: relative; padding: 10px 20px; display: flex;flex-wrap: wrap;align-content: center;
        h3 {font-size: 65px; font-weight: 700;margin-bottom: 0;line-height: 70px;}
        ul {margin-top: 0;
            li {font-size: 36px; text-align:left;position: relative;list-style-type: none;margin: 30px 10px;
                &:before {content: '\e832';position: absolute;font-size: 34px;font-family: fontello;left: -50px;color: $primary;}
            }
        }
    }
    h2 {font-size: 70px;}
    h3 {font-size: 40px; text-align: left; font-weight: 400;margin: 20px 0;}
    author {display: block; font-family: $font2; text-align: right; font-size: 32px; text-transform: uppercase; }
    > .btn {background: $tertiary;color: #fff;font-size: 20px;text-transform:none;font-weight: 400;
        span {font-size: 24px;font-weight: 800;text-transform: uppercase;letter-spacing: 2px;}
        &:hover {background: $primary;}
    }
}

#different {align-items: center;z-index: 1100;position: relative;justify-content: space-evenly;background: url(assets/images/lp-dental-solutions-different-bkg.jpg);background-size: cover;display: flex; flex-wrap: wrap;padding: 40px 10px;
    h2 {margin: 0;
        span {color: #8BD3EB;}
    }
    h3 {font-size: 19px;text-transform: uppercase;color: #fff;font-weight: 400;}
    .flex-ed {
        .block-svg {padding: 20px;margin: auto;display: inline-block;
            background-color: $tertiary;
            border-radius: 50%;
            svg {width: 37px; height: 28px;}
        }
        > div {margin: 10px 30px;}
    }
}

#dentists { padding: 60px 10px 40px; background: #fff;position: relative;
    .flex-ed {max-width: 1300px; margin: 30px auto; display: flex; justify-content: space-around; flex-wrap: wrap;
        article {flex: 0 1 55%; padding: 10px; text-align: left; margin: 10px auto;display: flex;
            flex-wrap: wrap;
            align-content: center;
            img {float: left;    margin: 0 10px 10px -20px; }
            p {text-align: justify;color: #fff;font-size: 25px;line-height: 30px;}
            h2 {text-align: left;color: #8C8C8C;font-size: 65px;margin: 0;
                span {color: $tertiary;font-weight: 700;}
            }
            .btn {min-width: 300px;background-color: $tertiary;font-size: 20px;
                &:hover {background-color: $secondary;}
            }
            ul {margin-top: 25px;
                li {font-size: 36px; text-align:left; color: $text;position: relative;list-style-type: none;margin: 30px 10px;
                    &:before {content: '\e832';position: absolute;font-size: 34px;font-family: fontello;left: -50px;color: $primary;}
                }
            }
        }
        figure {position: relative;
            figcaption {position: absolute;bottom: 0; width: 100%;background-color:rgba(255,255,255,0.9);padding: 10px;text-transform: uppercase;font-weight: 500;font-size: 20px;letter-spacing: 2px;;}
        }
    }
}

#convenient {display:flex;flex-wrap:wrap;justify-content: space-around;align-items:center;background-color: $secondary;padding: 60px 10px;
    h2 {text-align: left;color: #8C8C8C;font-size: 65px;margin: 0;
        span {color: $tertiary;font-weight: 700;}
    }
    ul {margin-top: 25px;
        li {font-size: 36px; text-align:left; color: $text;position: relative;list-style-type: none;margin: 30px 10px;
            &:before {content: '\e832';position: absolute;font-size: 34px;font-family: fontello;left: -50px;color: $primary;}
        }
    }
}

footer { position: relative; background: url(assets/images/lp-dental-solutions-footer-bkg.jpg); background-size: cover;
    #footer-logo {padding: 70px 10px;border-bottom: 1px solid rgba(255,255,255,0.3);}
    .title {color: $primary;letter-spacing: 3px; text-transform: uppercase;}
    .container {display:flex;flex-wrap:wrap;max-width: none;
        #info {padding: 60px;border-right: 1px solid rgba(255,255,255,0.3);flex: 0 1 40%;
            .phone {font-weight: 700;color: $primary;font-size: 29px;display:block;
                &:hover {color: #fff;}
            }
            .phy{font-size:13px;color:#fff;line-height:1.26;font-weight:400;margin: 10px auto 20px;letter-spacing:.47px;text-transform:uppercase;
                &:hover{color:$primary;}
            }
            .hours {max-width: 230px;margin: auto;color: #fff;
                > span {display: flex;justify-content: space-between;margin: 10px auto;font-size: 16px;}
            }
        }
        .simple {padding: 60px;flex: 0 1 60%;
            form {margin: 20px auto;max-width: 650px;
                > div:first-of-type {gap: 10px;display: flex;flex-wrap: wrap;justify-content: space-between;}
                input, textarea {transition: 0.3s all ease;box-shadow: none;width: auto;margin-bottom: 10px;background: transparent;border: 1px solid $primary;color: #fff;
                    &::placeholder {color: #fff;opacity: 1;}
                    &:focus {border: 2px solid #fff;}
                }
                input {width: 32%;}
                textarea {height: 100px!important;width: 100%;}
                .btn {width: 256px;border-radius: 30px;
                    color: #fff;margin-top: 0;padding: 20px;
                    background: $tertiary;
                    text-shadow: none;
                    font-size: 13px;
                    &:hover {background: $secondary;color: $primary;}
                }
            }
        }
    }
}


/* ---------------- Simple Form ---------------- */

.simple input, .simple textarea, .simple select {
    box-sizing: border-box!important; 
    border: 0; 
    padding:0 15px; 
    margin-bottom: 7px; 
    width: 230px;
    height: 40px;
    box-shadow: inset 0 3px 0 $secondary;
    background-color: #eff4f5;
    color: $text;
    font: 400 16px/40px $font;
    textarea { height: 80px !important; }
    input:focus, textarea:focus { outline: 0;  box-shadow: inset 0 3px 0 $tertiary;}
    .btn {min-width: 160px; text-transform: uppercase; margin-bottom: 15px;width: 225px; padding: 15px 10px;}
}

button:focus {outline: none; outline-style: ridge; outline-width: thin; outline-color: #707070;}
::-webkit-input-placeholder { color: $text; }
:-moz-placeholder { color: $text;}
::-moz-placeholder { color:$text;}
:-ms-input-placeholder {color: $text;}


.star{display: inline-block; vertical-align: middle;
    :before {font-size: 19px;font-family:'fontello';font-weight: 700; margin:0; font-style: normal; content: '\e80f \e80f \e80f \e80f \e80f'; color: #f4c73b; padding-right: 10px;letter-spacing: 2px;}
}

.copy {display:flex;flex-wrap:wrap;justify-content: center;align-items:center;background-color: #fff;color: $text; margin: auto; padding: 20px 10px;font: 400 16px/1.1 $font;
    a {margin: 0; font: 400 16px/1.1 $font; color: $tertiary;
        &:last-of-type {margin: 0 10px;}
    }
    span {margin: 5px;
        &:not(:first-of-type) {margin: 10px;}
    }
    a:hover { color: #fff; }
    #social {margin-left: 30px;
        display:flex;flex-wrap:wrap;align-items:center;
        > a {margin: 0 20px;
            i {
                &:before {font-size: 34px}
            }
        }
        #google {
            img {width: 24px;}
        }
        #yt {
            i {
                &:before {font-size: 28px;color: #cb3737;}
            }
        }
        #yelp {
            i {
                &:before {color: #e00707;}
            }
        }
    }
}


/* ---------------- New Patient Form ---------------- */
#lp-appointment-form { padding: 40px 10px;
    h1 {font-size: 50px; margin: 10px auto 40px; text-shadow: none; }
    p { margin: 10px auto 30px; max-width: 700px; }
    .simple { margin: 40px auto 20px; max-width: 500px;  }
    label {display: none;}
    input, textarea, select {
        width: 97%;
        display: table;
        margin: 10px auto;
        background-color: #d3d3d3;
        border-radius: 5px;
        font-size: 16px;
        color: $text;
        &:placeholder {color: #000;}
    }
    textarea {  margin-bottom: 30px;}
    textarea, input, select {  border: none; box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5); }
    textarea:focus, input:focus, select:focus {background-color: #e3e3e3; color: #333;}
    .btn {text-align: center; width: 200px; margin: auto; display: table;}
    
    :-moz-placeholder { color: $tertiary}
    ::-moz-placeholder { color:  $tertiary}
    :-ms-input-placeholder {color:  $tertiary }
    .simple input, .simple textarea { height: 40px; }
    .simple textarea {  height: 145px !important; }
}


/* ---------------- Media Queries ---------------- */


@media(max-width: 1080px) {
  header {
    .logo {flex: 0 1 320px;}
    .phone {font-size: 25px;}
  }
  h1 {font-size: 40px;}
    #banner figure {flex: 0 1 500px;}
  footer {
    .container {flex-wrap: wrap; max-width: 950px;margin-bottom: 20px;}
    article:nth-of-type(2) {order: 0;}
    article {flex: 0 1 400px; margin: 20px auto; padding-bottom: 40px; padding-top: 30px;} 
    figure {flex: 0 1 600px; margin: 0 auto 10px;}
  }
}
@media (min-width: 1000px) {
	#mobile-btns {
	  display: none!important;
	}
}
@media (max-width: 1000px) {
    header {margin-bottom: 0;padding: 0;background-color: $primary;position: static;
        .flex-ed {justify-content: space-around; padding: 0;}
        #nav {padding: 0;flex-wrap: wrap;
            .phy, .phone, .btn, hr {display: none; }
            .logo {flex: 100%;margin: 20px auto;}
        }
    }
    .fix-nav header {padding: 0;}
    #banner {
        &:before {content: none;}
        .flex-ed {flex-wrap: wrap; }
        article {margin: auto;position: static;background-color: $primary;padding: 20px;
            h1 {color: #D1D1D1;font-size: 41px;margin-top: 0;}
            h2 {font-size: 34px;}
            ul {  padding-left: 10px;
                li {font-size: 20px;
                    &:before {color: #fff;font-size: 18px;left: -28px;}
                }
            }
        }
        figure {margin: 0 auto;order: -1;}
        h1 {font-size: 70px;line-height: 75px;} 
    }

    #we {
        h2 {
            br {display:block;}
        }
    }

    #flex-blocks {padding: 20px 10px;
        &:before {content: none;}
        .flex-ed {flex-wrap:wrap; margin: auto;padding: 20px 10px;
        
        }
        h2 {font-size: 54px;}
        figure {margin-top: 20px;order: -1;}
        article {
            h3 {text-align:center;font-size: 55px;}
            ul {padding-left: 10px;
                li {font-size: 26px;margin: 20px 10px;
                    &:before {font-size: 24px;left: -35px;}
                }
            }
        }
    }
    #different {
        h2 {margin-bottom: 20px;}
        .flex-ed {justify-content: center;}
    }
    #dentists {padding: 10px;
        .flex-ed {
            article {flex: 0 1 850px;order: -1;
                img {margin: 0 20px 10px 5px;}
                h2 {width: 100%;text-align:center;font-size: 50px;font-weight: 700;}
                ul {padding-left: 30px;
                    li {font-size: 26px;margin: 20px 10px;
                        &:before {font-size: 24px;left: -35px;}
                    }
                }
            }
            figure {margin: 10px;
                figcaption {font-size: 18px;padding: 5px;}
            }
        }
    }
    #convenient {
        iframe {display:none;}
        article {
            h2 {font-size: 50px;font-weight: 700;text-align: center;}
            ul {padding-left: 30px;
                li {font-size: 26px;margin: 20px 10px;
                    &:before {font-size: 24px;left: -35px;}
                }
            }
        }
    }
    .title {margin: 0 auto 10px;}
    footer {padding: 0;
        #footer-logo {border: none;padding-bottom: 10px;}
        .container {padding: 0px 20px 20px;display: block;
            section {border: none!important;}
            #info {padding-bottom: 0;}
            .simple {padding: 40px 10px 0;
                form {
                    input {margin: auto; width: auto;}
                    textarea {width: auto;margin-top: 10px;}
                }
            }
        }
        article {flex: 0 1 340px;max-height: none;
            .title {font-size: 34px;}
            &:last-of-type {
                .title {
                    &:first-of-type {margin-bottom: 20px;}
                }
            }
            .phone {margin: 10px auto;font-size: 32px;}
            .hours {margin: 10px 0;}
        }
    }
    .copy {margin: auto;}
}


@media (max-width: 740px) {
    header .phone {display: none;}
    h1 {font-size: 36px; line-height: 1.2;
        br {display: none;}
    }
    h2 {font-size: 30px;}
    #banner figure p, #banner figure p:nth-of-type(2) {text-align: center;}
    #lp-appointment-form h1 {font-size: 36px}
}
@media (max-width: 590px) {
    header {
        .flex-ed {display: block; margin: auto;}
        .logo {padding: 10px 20px;}
    }
    .fix-nav header .logo {margin-bottom: 10px;}
    #helped {
        author {font-size: 20px;}
        article {padding: 10px;
            &:before {    font-size: 40px; top: 0;}
        }
        .h3 {  padding-left: 30px; line-height: 1.2; font-size: 28px;}
    }
    .copy {padding: 20px 10px;
        span {
            &:not(:first-of-type) {margin: 5px 10px;}
        }
        #social {margin: 10px auto;}
    }
    #dentists article h2 {text-align: center;font-size: 38px;}
    #assoc .flex-ed img {margin: 20px;}
}

@media (max-width: 490px) {
    h1 {font-size: 30px;}
    h2 {font-size: 30px;}
    #banner {
        article p {font-size: 20px;}
        figure p,  figure p:nth-of-type(2) {font-size: 18px;}
    }
    [data-embed] .close {position: relative; display: block;}
    #helped .h3 {font-size: 24px;}
    #dentists{
        article {
            img {float: none; margin: auto;}
            p {text-align: center;}
            a{display: table; margin: 10px auto;}
        }
        h3 {margin: auto; }
    }
    footer {
        figure {text-align: center; padding: 50px 30px 70px;
            p {max-width: 80%;}
        }
    }
    #lp-appointment-form {h1 {font-size: 36px;} }
}

